.about .title::after{
    content: "من نحن";
    }

.services .title::after{
        content: "حول العالم";
    }

    .gallery-2 .title::after{
        content: "القي نظره";
    }

    .contact .title::after{
        content: "ابقى على تواصل";
    }
    .serv-info .title::after{
        content: "كما نقدم";
    }
    .gallery .title::after{
        content: "القي نظره";
    }

    .contact .right form .name{
        margin-right: 0;
    }
    .contact .right form .email{
        margin-left: 0;
        margin-right: 10px;
    }
    .text-start{
text-align: right !important;
    }